  <a class="logouttext" href="/logout">Logout</a>
<div class="adminPanel">
  <nav id="nav_dashboard">
    <a href="/admin-panel/users" class="link">
      {{!-- <span class="btn icon" title="Manage user">
        <i class="fa fa-plus fa-lg"></i>
        <i class="fa fa-plus fa-user fa-lg"></i>
      </span>Users --}}
      Users
    </a>
    <a href="/admin-panel/points" class="link">
      {{!-- <span class="btn icon" title="Manage Points">
        <i class="fa fa-list fa-lg"></i>
        <i class="fa fa-users fa-lg"></i>
      </span> --}}
      Points
    </a>
    <a href="/admin-panel/points_manage" class="link">
      {{!-- <span class="btn icon" title="Manage Points">
        <i class="fa fa-list fa-lg"></i>
        <i class="fa fa-users fa-lg"></i>
      </span> --}}
      Points Management
    </a>
    <a href="/admin-panel/routes" class="link">
      {{!-- <span class="btn icon" title="Manage Routes">
        <i class="fa fa-plus fa-lg"></i>
        <i class="fab fa-product-hunt fa-lg"></i>
      </span> --}}
      Routes
    </a>

  </nav>
</div>