<a class="btns" href="/logout">Logout</a>
<div class="adminPanel">
  <nav id="nav_dashboard">
    <a href="/admin-panel/users" class="link">
      Users
    </a>
    <a href="/admin-panel/points" class="link">
      Points
    </a>
    <a href="/admin-panel/points_manage" class="link">
      Points Manage
    </a>
    <a href="/admin-panel/routes" class="link">
      Routes
    </a>
    <a href="/admin-panel/routes_manage" class="link">
      Routes Manage
    </a>

  </nav>

</div>