<div class="topnav">
  <a href="/home" class="active"> <img class="logo" src="/images/logo.png" width=23px height=20px alt="logo">Wanderfull</a>
  <div id="myLinks">
    <a class="selectlink" href="/home">Home</a>
    <a class="selectlink" href="/logout">Logout</a>
  </div>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>


<div class="slider">
  <section class="city">
    <img src="/images/eiffel.jpg" alt="">
    <a href="/users_routes">
      <h5>PARIS</h5>
    </a>
  </section>
  <section class="city">
    <img src="/images/madrid.jpeg" alt="">
    <h5>MADRID</h5>
  </section>
  <section class="city">
    <img src="/images/istanbul.jpeg" alt="">
    <h5>ISTANBUL</h5>
  </section>
  <section class="city">
    <img src="/public/images/istanbul.jpeg" alt="">
    <h5>BERLIN</h5>
  </section>
  <section class="city">
    <h5>AMSTERDAM</h5>
  </section>
</div>

{{!-- <div class="containerhome">

  <div class="place0">
    <a href="/users_routes"><img class="imgplace" src="/images/paris.png" alt="Paris"></a>
  </div>
  <div class="place1">
    <img class="imgplace" src="/images/madrid.png" alt="Madrid">
  </div>
  <div class="place2">
    <img class="imgplace" src="/images/london.png" alt="London">
  </div>
  <div class="place3">
    <img class="imgplace" src="/images/rome.png" alt="Rome">
  </div>
  <div class="place4">
    <img class="imgplace" src="/images/stockholm.png" alt="Stockholm">
  </div>
  <div class="place5">
    <img class="imgplace" src="/images/amsterdam.png" alt="Amsterdam">
  </div>
  <div class="place6">
    <img class="imgplace" src="images/barcelone.png" alt="Barcelone">
  </div>
  <div class="place7">
    <img class="imgplace" src="images/berlin.png" alt="Berlin">
  </div>
  <div class="place8">
    <img class="imgplace" src="/images/brussels.png" alt="Brussels">
  </div>
  <div class="place9">
    <img class="imgplace" src="/images/lisbon.png" alt="Lisbon">
  </div>
</div> --}}