<div class="containerhome">
  <a class="logouttext" href="/logout">Logout</a>
  <h1 class="hometext">Where do you want to go today?</h1>
  <div class="place0">
    <img class="imgplace" src="/images/paris.png" alt="Paris">
  </div>
  <div class="place1">
    <img class="imgplace" src="/images/madrid.png" alt="Madrid">
  </div>
  <div class="place2">
    <img class="imgplace" src="/images/london.png" alt="London">
  </div>
  <div class="place3">
    <img class="imgplace" src="/images/rome.png" alt="Rome">
  </div>
  <div class="place4">
    <img class="imgplace" src="/images/stockholm.png" alt="Stockholm">
  </div>
  <div class="place5">
    <img class="imgplace" src="/images/amsterdam.png" alt="Amsterdam">
  </div>
  <div class="place6">
    <img class="imgplace" src="images/barcelone.png" alt="Barcelone">
  </div>
  <div class="place7">
    <img class="imgplace" src="images/berlin.png" alt="Berlin">
  </div>
  <div class="place8">
    <img class="imgplace" src="/images/brussels.png" alt="Brussels">
  </div>
  <div class="place9">
    <img class="imgplace" src="/images/lisbon.png" alt="Lisbon">
  </div>
</div>