<div class="container1">
  <div class="containerlanding">


    <img class="logo1" src="./images/logo.png" style="sizes: 20vw" alt="logo">
    <h1 style="font-size: 7vw"> WanderFull</h1>
    {{!-- //this font size maeks it responsive --}}
    <h3 style="font-size: 5vw">Travel Guide </h3>



    <div class="myButton">

      <a href="/login" class="btn login">Log In</a>

      </br>

      <a href="/signup" class="btn signup">Sign Up</a>

    </div>
  </div>
</div>