<img class="logo1" src="./images/wanderfullogo.png" alt="logo">

<div class="myButton">
  <button class="login">
    <a href="/login">Log In</a>
  </button>
  </br>
  <button class="signup">
    <a href="/signup">Sign Up</a>
  </button>
</div>