<div class="container1">
  <div class="containerlanding">

    <img class="logo1" src="./images/logologo.png" alt="logo">

    <div class="myButton">

      <a href="/login" class="btns login">Log In</a>

      </br>

      <a href="/signup" class="btns signup">Sign Up</a>

    </div>
  </div>
</div>