<div class="container1">

  <form action="/login" method="POST">
    <div class="formsection">

      <h2>Log In</h2>
      <label for="email">Email:</label>
      <input type="email" name="email" required>
      {{!-- //required is to oblige people to write --}}


      <label for="password">Password:</label> <br>
      <input type="password" name="password" required>



      <a class="btns" href="/login">Log In</a>

      <p class="account-message">Don't have an account?
        <a href="/signup" class="btns">SignUp</a>
      </p>
    </div>
  </form>
  {{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
  {{/if}}
</div>