<form action="/signup" method="POST" id="form-container">
  <section id="signup">
    <div class="signup_main">

      <h2>SignUp</h2>
      <label for="name">Username:</label>
      <input id="name" type="text" name="username" placeholder="Your name" required>

      <label for="surname">Surname:</label>
      <input id="surname" type="text" name="surname" placeholder="Your surname" required>

      <label for="email">Email:</label>
      <input id="email" type="email" name="email" placeholder="Your email" required>

      <label for="nationality">Nationality:</label>
      <input id="nationality" type="text" name="nationality" placeholder="Your nationality" required>


      <label for="password">Password:</label>
      <input id="password" type="password" name="password" placeholder="Create a password" required>

      {{#if message}}
      <div class="error-message">{{ message }}</div>
      {{/if}}
      <br><br>

      <button class="signupButton">Create account</button>

      <p class="account-message">
        Do you already have an account? You can:
        <a href="/login">Login</a>
      </p>
    </div>
  </section>
</form>

{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}