<h2>Hello Users this is your routes to choose today:</h2>

<div class="card">
  <div class="card-image">
    <img src="/images/bagages.jpeg" alt="route1">
  </div>
  <div class="card-content">
    <h3>Name of the Route</h3>
    <p>Info:Lorem ipsum dolor sit amet, persecuti dissentiet cum cu. Mel esse meliore detracto ei, qui quem magna
      te. An liber audiam ocurreret eum, vim eu fastidii periculis. </p>
    <p>When you buy this route, 5% of it is going to Unicef.</p <p>Price:</p>
    <button>Buy this route</button>
  </div>
</div>