@import url("https://fonts.googleapis.com/css?family=Varela+Round");

* {
  margin: 0%;
}

body,
html {
  height: 100%;
  width: 100%;
  font: 14px "Varela Round", sans-serif;
}

// ---------------LANDING PAGE BACKGROUND(LOGIN AND SIGNUP)-------
.container1 {
  background-image: url("../images/p.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.containerlanding {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logo1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 16%;
}

h1 {
  font-size: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  align-content: center;
  font-size: 3cm;
  text-shadow: #c2f54c;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  align-content: center;
  font-size: 1cm;
  text-shadow: #c2f54c;
}
h2 {
  font-size: 40px;
  margin: 30px;
  text-align: center;
}

.login_main {
  max-width: 60%;
  font-size: 17px;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: inherit;
}
.formsection {
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: rgba(215, 247, 194, 0.4);
  max-width: 70%;
  margin: auto;
  padding: 40px;
}
.formsection input {
  margin-top: 10px;
  width: 30%;
}

form label {
  margin-top: 10px;
}
// -----------------------------BUTTONS ON LANDING PAGE-------------------------------
.myButton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}
.signup {
  background-color: #89c403;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
}
.signup:hover {
  background-color: #2fe6dc;
}
.signup:focus {
  background: rgb(245, 196, 34);
}
.signup :active {
  position: relative;
  top: 1px;
}

.login {
  background-color: #89c403;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
}
.login:hover {
  background-color: #2fe6dc;
}
.login:active {
  position: relative;
  top: 1px;
}

.login:focus {
  background: rgb(250, 152, 245);
}

.btns {
  background-color: yellowgreen;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  padding: 3px 7px;
  text-decoration: none;
  border-radius: 3px;
  text-shadow: 0px 1px 0px #528009;
  margin: 10px;
  font: 14px "Varela Round", sans-serif;
}
.btns:hover {
  background-color: #2fe6dc;
}
.btns:focus {
  background: rgb(245, 196, 34);
}

.error-message {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 60%;
}

// --------------------------------------HOME PAGE ------------------------
.containerhome {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 2px;
  justify-items: center;
  align-items: center;
}
.logouttext {
  grid-area: 1/8/2/9;
}
.hometext {
  grid-area: 1/1/2/6;
}
.place0 {
  grid-column: 3 / 7;
  grid-row: 3 / 7;
  width: 100%;
  height: 100%;
  img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
  }
  p {
    text-align: center;
  }
}
.place1 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  width: 100%;
  height: 100%;
  img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
  }
}
.place2 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  width: 100%;
  height: 100%;
  img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
  }
}
.place3 {
  grid-column: 4 /5;
  grid-row: 8 / 9;
  width: 100%;
  height: 100%;
  img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
  }
}
.place4 {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
  width: 100%;
  height: 100%;
  img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
  }
}
.place5 {
  grid-column: 8 / 9;
  grid-row: 3 / 4;
  width: 100%;
  height: 100%;
  img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
  }
}
.place6 {
  grid-column: 3 / 4;
  grid-row: 7 / 8;
  width: 100%;
  height: 100%;
  img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
  }
}
.place7 {
  grid-column: 6 / 7;
  grid-row: 8 / 9;
  width: 100%;
  height: 100%;
  img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
  }
}
.place8 {
  grid-column: 7 / 8;
  grid-row: 5/ 6;
  width: 100%;
  height: 100%;
  img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
  }
}
.place9 {
  grid-column: 1 / 2;
  grid-row: 8 / 9;
  width: 100%;
  height: 100%;
  img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
  }
}
.imgplace:hover {
  transform: scale(1.5);
  cursor: pointer;
}

// ----------------------------------ADMIN PANEL-----------------------
nav {
  display: flex;
  justify-content: space-evenly;
}

.link {
  text-decoration: none;
  font-size: 20px;
  font-family: "Varela Round", sans-serif;
  color: rgb(69, 133, 69);
  margin-bottom: 10px;
}

// ----------------------------------- MAP -----------------------------
#right-panel {
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select,
#right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 60%;
  float: left;
  width: 70%;
  height: 100%;
}
#right-panel {
  margin: 20px;
  border-width: 2px;
  width: 20%;
  height: 400px;
  float: left;
  text-align: left;
  padding-top: 0;
}
#directions-panel {
  margin-top: 10px;
  background-color: #ffee77;
  padding: 10px;
  overflow: scroll;
  height: 174px;
}

// --------------TABLES-------------------------
#board_user {
  text-align: center;
  margin: auto;
}

.board {
  margin: 30px 0;
}

.board,
.board .cell {
  border: 1px solid darkslategray;
  border-collapse: collapse;
}
.board .head {
  background: darkslategray;
  color: white;
}

.board .cell {
  text-align: center;
  padding: 5px 10px;
}

.board .btn {
  margin: auto;
  height: 20px;
}
.board .row:nth-child(even) {
  background: #547d73;
  color: white;
}

.board .row-empty {
  text-align: center;
}
//-------------------------------CARD------------------

.card {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  background: #eee;
  margin: 15px;
  max-width: 1300px;
  height: 33%;
}

.card-content {
  position: relative;
  max-width: 50%;
  background-color: rgba(44, 187, 8, 0.2);
  h3,
  p {
    max-width: calc(100% - 30px);
    padding-left: 30px;
  }
}
.card-image {
  position: relative;
  width: 10px;
  height: 20px;
}

/*# sourceMappingURL=style.css.map */
