@import url("https://fonts.googleapis.com/css?family=Varela+Round");

* {
  margin: 0%;
  padding: 0%;
}

body,
html {
  height: 100%;
  width: 100%;
  font: 14px "Varela Round", sans-serif;
}

// ---------------LANDING PAGE BACKGROUND(LOGIN AND SIGNUP)-------
.container1 {
  background-image: url("../images/p.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.containerlanding {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logo1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 16%;
}

h1 {
  font-size: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  align-content: center;
  font-size: 3cm;
  text-shadow: #c2f54c;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  align-content: center;
  font-size: 1cm;
  text-shadow: #c2f54c;
}
h2 {
  font-size: 40px;
  margin: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

h4 {
  font-size: 25px;
  margin: 30px;
}

.login_main {
  max-width: 60%;
  font-size: 17px;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: inherit;
}
.formsection {
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: rgba(215, 247, 194, 0.4);
  max-width: 70%;
  margin: auto;
  padding: 40px;
}
.formsection input {
  margin-top: 10px;
  width: 30%;
}

form label {
  margin-top: 10px;
}
// -----------------------------BUTTONS ON LANDING PAGE-------------------------------
.myButton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}
.signup {
  background-color: #89c403;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
}
.signup:hover {
  background-color: #2fe6dc;
}
.signup:focus {
  background: rgb(245, 196, 34);
}
.signup :active {
  position: relative;
  top: 1px;
}

.login {
  background-color: #89c403;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
}
.login:hover {
  background-color: #2fe6dc;
}
.login:active {
  position: relative;
  top: 1px;
}

.login:focus {
  background: rgb(250, 152, 245);
}

.btns {
  background-color: yellowgreen;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  padding: 3px 7px;
  text-decoration: none;
  border-radius: 3px;
  text-shadow: 0px 1px 0px #528009;
  margin: 10px;
  font: 14px "Varela Round", sans-serif;
  text-align: center;
}
.btns:hover {
  background-color: #2fe6dc;
}
.btns:focus {
  background: rgb(245, 196, 34);
}

.error-message {
  background: #f02b63;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 30%;
}

// --------------------------------------HOME PAGE ------------------------

.containerhome {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: center;
  align-items: center;
}
.logouttext {
  margin-left: 0;
  text-align: right;
  text-decoration: none;
  font-size: 15px;
  color: rgb(204, 248, 198);
  float: right;

  width: 4rem;
  height: 1.5rem;
  border: 1px rgb(255, 255, 255) solid;
  position: absolute;
  animation: fillSquare 5s linear infinite;
  @keyframes fillSquare {
    0% {
      box-shadow: inset 0 0 0 0 rgba(126, 161, 125, 0.479);
    }
    100% {
      box-shadow: inset 0 -4rem 0 0 rgb(75, 90, 71);
    }
  }
}
.imgplace {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 5px;
  border-radius: 10px;
  border: solid 20px rgb(230, 245, 194);
  transition: border-width 0.6s linear;
}

.imgplace:hover {
  transform: scale(1.5);
  cursor: pointer;
  border-width: 8px;
}
//----HOME PAGE THE SEARCH BAR-----
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.slider {
  font-family: sans-serif;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vw);
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: scroll;
  margin: 0;
  padding: 0;
}
section {
  border-right: 1px solid white;
  padding: 1rem;
  min-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}
.city {
  // height: 100vh;
  // width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;

  h5 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: rgb(254, 255, 254);
    width: 100%;
    left: 0;
    font-size: calc(1rem + 3vw);
    font: 100px "Varela Round", sans-serif;
    font-size: 3cm;
  }
  img {
    filter: blur(7px);
    -webkit-filter: blur(7px);
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
}

// ----------------------------------ADMIN PANEL-----------------------
nav {
  display: flex;
  justify-content: space-evenly;
}

.link {
  text-decoration: none;
  font-size: 20px;
  font-family: "Varela Round", sans-serif;
  color: rgb(69, 133, 69);
  margin-bottom: 10px;
}

// ----------------------------------- MAP -----------------------------
#right-panel {
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select,
#right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 60%;
  float: left;
  width: 70%;
  height: 100%;
}
#right-panel {
  margin: 20px;
  border-width: 2px;
  width: 20%;
  height: 400px;
  float: left;
  text-align: left;
  padding-top: 0;
}
#directions-panel {
  margin-top: 10px;
  background-color: #fde847;
  padding: 10px;
  overflow: scroll;
  height: 174px;
}

// --------------TABLES-------------------------
#board_user {
  text-align: center;
  margin: auto;
}

.board {
  margin: 30px 0;
}

.board,
.board .cell {
  border: 1px solid rgb(84, 141, 62);
  border-collapse: collapse;
}
.board .head {
  background: darkslategray;
  color: white;
}

.board .cell {
  text-align: center;
  padding: 5px 10px;
}

.board .btn {
  margin: auto;
  height: 20px;
}
.board .row:nth-child(even) {
  background: #547d73;
  color: white;
}

.board .row-empty {
  text-align: center;
}
//-------------------------------CARD------------------

:root {
  --gutter: 20px;
}

.app {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}

.app > * {
  grid-column: 2 / -2;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: repeat(6, calc(50% - var(--gutter) * 2));
  grid-template-rows: minmax(150px, 1fr);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(0.75 * var(--gutter));
  margin-bottom: calc(-0.25 * var(--gutter));
}
.app {
  width: 90vh;
  height: 667px;
  background: rgba(215, 247, 194, 0.4);
}

.hs > li,
.item {
  //scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 8px;
}
.container2 {
  display: grid;
  place-items: center;
  background-image: url("../images/p.jpg");
  margin: 0px;
  padding: 0%;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//------------------------------USERS CHOICE---------------------------
.choosen {
  text-align: justify;
  justify-content: center;
  font-size: 18px;
}

// --------------------------- NAVIGATION MENU ------------------------------
// .logo {
//   display: flex;
//   flex: left;
//   margin-top: 0px;
//   padding: 0px;
// }
.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}
.topnav {
  overflow: hidden;
  background-color: rgba(247, 1, 1, 0.3);
  position: relative;
}
.topnav #myLinks {
  display: none;
}
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.topnav a.icon {
  // background: rgba(6, 15, 0, 0.2);
  display: block;
  position: absolute;

  right: 0;
  top: 0;
}
.topnav .selectlink:hover {
  background-color: #2fe6dc;
  color: black;
}
.topnav .selectlink:focus {
  background-color: rgb(245, 196, 34);
}
.active {
  background-color: yellowgreen;
  color: white;
}
// .userschoice {
// }
/*# sourceMappingURL=style.css.map */
